@{
    ViewBag.Title = "Clothes for Nerds";
}

<div class="jumbotron embed-responsive-item">
 
</div>

<div class="row">
    <div class="col-md-3">
        <img class="img-circle" src="~/images/Nerd_Shirt_Main.jpg" />
        <h2>@Html.ActionLink("Shirts", "Index", "Shirts")</h2>
        <p>
            Here you will find Nerd shirts galore
        </p>
      </div>
    <div class="col-md-3">
        <img class="img-circle" src="~/images/50s-nerd_plaid-pants.jpg" />
        <h2>@Html.ActionLink("Bottoms", "Index", "Pants")</h2>
        <p>Yes Nerds can were more than jeans.</p>
        
    </div>
    <div class="col-md-3">
        <img class="img-circle" src="~/images/shoe.JPG" />
        <h2>@Html.ActionLink("Shoes", "Index", "Shoes")</h2>
        <p> From Skyscraper Heels to Army Boots</p>
     </div>   
    <div class="col-md-3">
        <img class="img-circle" src="~/images/nerdnecklacebetter_product_page.jpg" />
        <h2>@Html.ActionLink("Nerd Gear", "Index", "Accessories")</h2>
        <p> Check out all things Nerd to take with you on the go. </p>
      
    </div>
</div>